<!DOCTYPE html>
<html>
<head>
    <title>Bot Settings</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>
<div>
    <h2>Current Settings</h2>
    {% for setting in settings %}
    <p>{{ setting.key }}: {{ setting.value }}</p>
    {% endfor %}
</div>
<div>
    <h2>Phone Screenshot</h2>
    <img id="screenshot" width="400" src="{{ image_url }}" alt="Phone Screenshot">
</div>

<script type="application/javascript">
  function fetchLatestScreenshot() {
    fetch('/ss')  // Update this path as necessary
      .then(response => response.json())
      .then(data => {
        document.getElementById('screenshot').src = data.image_url;
      })
      .catch(error => console.error('Error fetching the latest screenshot:', error));
  }

  // Fetch every 2 seconds, adjust as necessary
  setInterval(fetchLatestScreenshot, 2000)

</script>
</body>
</html>
